{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/bootstrapappoint.min.css' %}">
<link rel="stylesheet" href="{% static 'css/datepickerappoint.css' %}">
<link rel="stylesheet" href="{% static 'css/styleappoint.css' %}">

{% include 'common/header1.html' %}

{% endblock %}
{% block content %}





<div class="inner-layer">
  <img>
  <div class="container">
    <div class="row no-margin">
      <div class="col-sm-7">
        <div class="content">
          <h1>Book You Appointment Now and Save your time</h1>
          <p>The Newlife Hospital is a 300 bed multispecialty Hospital in Kenya located in Runda, Nairobi Kenya. We offer patient focused, world class medical treatment and accord the highest stardards of medical care to all our patients indiscriminately. </p>
          <h1>For Help Call : +254 741 594 863</h1>
        </div>
      </div>
      <div class="col-sm-5">
        <form action="" method="post">
          {% csrf_token %}
          <div class="form-data">
            <div class="form-head">
              <h2>Book Appointemnt</h2>
            </div>
            <div class="form-body">
              <div class="row form-row">
                <input type="text" placeholder="Enter Full name" class="form-control">
              </div>
              <div class="row form-row">
                <input type="text" placeholder="Enter Mobile Number" class="form-control">
              </div>
              <div class="row form-row">
                <input type="text" placeholder="Enter Email Adreess" class="form-control">
              </div>
              <div class="row form-row">
                <input id="dat" type="text" placeholder="Appointment Date" class="form-control">
              </div>

              <h6>Address Details</h6>

              <div class="row form-row">
                <div class="col-sm-6">
                  <input type="text" placeholder="Enter Area" class="form-control">
                </div>
                <div class="col-sm-6">
                  <input type="text" placeholder="Enter City" class="form-control">
                </div>
              </div>
              <div class="row form-row">
                <div class="col-sm-6">
                  <input type="text" placeholder="Enter State" class="form-control">
                </div>
                <div class="col-sm-6">
                  <input type="text" placeholder="Postal Code" class="form-control">
                </div>
              </div>

              <div class="row form-row">
                <button class="btn btn-success btn-appointment" type="submit">
                  Book Appointment
                </button>

              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jqueryappoint-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popperappoint.min.js' %}"></script>
<script src="{% static 'js/bootstrapappoint.min.js' %}"></script>
<script src="{% static 'js/bootstrapappoint-datepicker.js' %}"></script>

<script>
  $(document).ready(function () {
    $("#dat").datepicker();
  })
</script>



{% endblock %}