{% extends 'base.html' %}
{% load static %}
{% block header %}
  {% include 'common/header1.html'   %}
{% endblock %}
{% block content %}

<!-- header section end -->
<!-- services section start -->
<div class="services_section layout_padding padding_bottom_0">
  <div class="container">
    <h1 class="blog_text" style="font-size: xxxxx-large;">Blog</h1>
    <div class="row">
      {% for blog in blog %}
      <div class="col-lg-4">
        <div class="call_box">
          <div class="call_image"><img src="{{blog.img.url}}"></div>
          <h2 class="emergency_text" style="color: red;">{{blog.title}}</h2>
          <h1 class="call_text">{{blog.description}}</h1>
          <p class="dolor_text">09297766556</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}