{% extends 'base1.html' %} {% load static %} {% block content1 %}

<!--=== Team v1 ===-->

<div class="container content-md team-v1">
  <ul class="list-unstyled row">
    {% for doctor in doctor %}
    <li class="col-sm-3 col-xs-6" style="margin-bottom: 30px">
      <div class="team-img">
        <img class="img-responsive" src="{{doctor.img.url}}" alt="" />
        <ul>
          <li>
            <a href="https://www.twitter.com"
              ><i class="icon-custom icon-sm rounded-x fa fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com"
              ><i class="icon-custom icon-sm rounded-x fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com"
              ><i class="icon-custom icon-sm rounded-x fa fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
      <h3>{{doctor.name}}</h3>
      <h4>{{doctor.description}}</h4>
      <p>{{doctor.specialize}}</p>
    </li>
    {% endfor %}
  </ul>
</div>


<!-- doctor section end -->
<!-- footer section start -->
<!-- info section -->
{% endblock %}
