{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/lineariconsmed.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesomemed.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrapmed.css' %}">
<link rel="stylesheet" href="{% static 'css/magnific-popupmed.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-uimed.css' %}">
<link rel="stylesheet" href="{% static 'css/nice-selectmed.css' %}">
<link rel="stylesheet" href="{% static 'css/animatemed.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owlmed.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-uimed.css' %}">
<link rel="stylesheet" href="{% static 'css/mainmed.css' %}">
{% include 'common/header1.html' %}

{% endblock %}
{% block content %}
<div class="whole-wrap">
	<div class="container">
		{% for medicine in medicine %}
		<div class="section-top-border">
			<h3 class="mb-30">{{medicine.title}}</h3>
			<div class="row">
				<div class="col-md-3">
					<img src="{{medicine.img.url}}" width="250" height="300">
				</div>
				<div class="col-md-9 mt-sm-20 left-align-p">
					<p>{{medicine.description}}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
 <script src="{% static 'js/jquery-2.2.4med.min.js' %}"></script>
<script src="{% static 'js/poppermed.min.js' %}"></script>
<script src="{% static 'js/bootstrapmed.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{% static 'js/jquery-uimed.js' %}"></script>
<script src="{% static 'js/easingmed.min.js' %}"></script>
<script src="{% static 'js/hoverIntentmed.js' %}"></script>
<script src="{% static 'js/superfishmed.min.js' %}"></script>
<script src="{% static 'js/jquerymed.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquerymed.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquerymed.tabs.min.js' %}"></script>
<script src="{% static 'js/jquerymed.nice-select.min.js' %}"></script>
<script src="{% static 'js/owlmed.carousel.min.js' %}"></script>
<script src="{% static 'js/mail-scriptmed.js' %}"></script>
<script src="{% static 'js/mainmed.js' %}"></script>

{% endblock %}